#payment{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 32% 50%;
    margin: auto;
    width: 50%;
    margin-top: 10px;
}
#payment>div{
    border: 1px solid black;
    margin: 10px;
}