#payment {
  display: grid;
  grid-template-columns: 35% 45%;
  margin: 15px;
  margin: auto;
  width: 42%;
  margin-top: 10px;
  border-radius: 15px;

}
#payment > div {
  margin: 20px;
  border-radius: 15px;
}

#second_div {
  border: 1px solid black;
}
#second_div > img {
  width: 80px;
  height: 80px;
}
