#product_info {
    display: flex;
    border: 1px ridge black;
    width: 70%;
   
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding: 10px;
}
#product_info>div{
    border: 1px solid black;
    margin: 20px;
}

#TDPA{
    padding: 20px;
}