.register {
  /* border: 1px solid black; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 30%;
  margin: auto;
  margin-top: 50px;
}
.inp_tags {
  height: 40px;
  width: 100%;
  font-size: larger;
}
