#cart_container {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 3%;
}
#cart_total > div {
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
  margin: 20px;
  border-radius: 15px;
}
#cart_total img{
  height: 200px;
  width: 200px;
}

@media (max-width: 768px) {
  #cart_container {
    display: block;
    flex-wrap: wrap;
  }
}

.cart_div {
  display: flex;
}

.value {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

#cart_info > div {
  margin: 25px;
}

@media (max-width: 768px) {
  #cart_info > div {
    display: block;
    flex-wrap: wrap;
  }
}

img {
  width: 200px;
}

@media (max-width: 448px) {
  div > h4 {
    display: block;
    flex-wrap: wrap;
  }
}

div > h4 {
  margin-left: 15px;
}

.prod_info {
  display: flex;
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
  border-radius: 20px;
}

.prod_info > div {
  border-style: ridge;
  border: 1px rgb(195, 28, 28);
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  margin: 6px;
  padding: 7px;
  margin-left: 7px;
  border-radius: 15px;
}
