#payment {
  display: grid;
  grid-template-columns: 35% 45%;
  margin: 15px;
  margin: auto;
  width: 42%;
  margin-top: 10px;
  border-radius: 15px;
}
#payment > div {
  border: 1px solid black;
  margin: 20px;
  border-radius: 15px;
}

#second_div {
  border: 1px solid black;
}
#second_div > img {
  width: 80px;
  height: 80px;
}
.payment_images{
  margin-left: 80px;
  width: 300px;
  height: 200px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* border-radius: 20px; */
}
.payment{
  margin-top: 20px;
  margin:  auto;
  width: 40%;
  /* border: 1px solid black; */
}

